html {
	font-family : Verdana, Arial, Helvetica, sans-serif;
}

body {
	background-image:url(/gfx/background.gif);
	margin:0;
}

hr {
	border: thin solid;
	width:1024px;
	color:#cccccc;
	height:1pt;
}

hr.blog {
	width:700px;
	margin-left:0;
}

hr.blogtitle {
	border:1px dashed #cccccc;
	width:800px;
	height:1px;
	margin-left:0;
}

hr.title {
	border:1px dashed #cccccc;
	width:1024px;
	height:1px;
}

table.listtable {
	padding:0;
	margin-top:0;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	width:1024px;
}

hr.recentsblognav {
	border: none;
	border-top: 1px dashed #cccccc;
	width:100%;
	height:1px;
}

table.mainnav {
	padding:0;
	margin-top:0;
	margin-bottom:0;
	margin-left:auto;
	margin-right:0;
	width:465px;
}

tr,td {
	padding:0;
	margin:0;
}

.centerDiv {
	width:1024px;
	margin-right:auto;
	margin-left:auto;
}

.blogNavPanel {
	width:180px;
	text-align:right;
	vertical-align:top;
}

.blogLeftPanel {
	width:844px;
	vertical-align:top;
}

.content, .content_title, .content_boldface, .content_light {
	font-size : 12pt;
	font-style : normal;
	line-height:17px;
	text-align: left;
	color: #666666;
	font-weight: normal;
}

.content_title {
	font-weight: bolder;
}

.content_boldface {
	font-weight: bold;
}

.content_small {
	font-size : 10pt;
}

.content_tiny {
	font-size : 9pt;
}

.content_light {
	color: #A4A4A4;
}

.headline {
	font-size : 14pt;
	font-style : normal;
	text-align: left;
	color: #999999;
	font-weight: bold;
    margin-top: 10px;
}

.subline {
	font-size : 12pt;
	font-style : normal;
	text-align: left;
	color: #ffffff;
	font-weight: normal;
    margin-top: 10px;
}

.subm_active {
	font-size : 11pt;
	font-weight : bold;
	color : #999999;
	text-decoration : none;
}

.navi_boldwhite {
	font-size : 13pt;
	font-weight : normal;
	color : #ffffff;
	text-align: center;
}

.subnavi_normalgray {
	font-size : 11pt;
	font-weight : normal;
	color : #999999;
	text-align: left;
}

a:link {
	font-size : 12pt;
	font-weight : normal;
	color : #ffffff;
	text-align: center;
	text-decoration : none;
}

a:visited {
	font-size : 12pt;
	font-weight : normal;
	color : #ffffff;
	text-align: center;
	text-decoration : none;
}

a:active {
	font-size : 12pt;
	font-weight : normal;
	color : #ffffff;
	text-align: center;
	text-decoration : none;
}

a:hover {
	font-size : 12pt;
	font-weight : bold;
	color : #ffffff;
	text-align: center;
	text-decoration : underline;
}

a.subm:link {
	font-size : 10pt;
	font-weight : normal;
	color : #999999;
	text-decoration : none;
}

a.subm:visited {
	font-size : 10pt;
	font-weight : normal;
	color : #999999;
	text-decoration : none;
}

a.subm:active {
	font-size : 10pt;
	color : #999999;
	text-decoration : none;
	font-weight : bold;
}

a.subm:hover {
	font-size : 10pt;
	font-weight : normal;
	color : #999999;
	text-decoration : underline;
}

a.link:link, a.link:visited, a.link:active, a.link:hover,
a.link_small:link, a.link_small:visited, a.link_small:active, a.link_small:hover,
a.titlelink:link, a.titlelink:visited, a.titlelink:active, a.titlelink:hover {
	font-size : 10pt;
	font-weight : normal;
	color : #666666;
	text-decoration : underline;
}

a.link:hover, a.titlelink:hover, a.link_small:hover {
	color : #999999;
}

a.link_small:link {
	font-size: 9pt;
}

a.titlelink:link, a.titlelink:visited, a.titlelink:active, a.titlelink:hover {
	font-weight: bolder;
}

a.black:link, a.black:visited, a.black:active, a.black:hover {
	font-size : 10pt;
	font-weight : normal;
	color : #A4A4A4;
	text-decoration : none;
}

a.black:hover {
	color : #646464;
}
